<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div class="body">
  <div class="modernForm">
    <div class="imageSection">
      <div class="image">
        <img
          src="..\assets\img\gallery\dubai.jpg"
          alt="pexels-yuri-manei-2272854"
        />
      </div>
    </div>
    <div class="contactForm">
      <h1>Registaration Form</h1>
      <form>
        <div class="name">
          <input
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Full Name"
          />
        </div>

        <div class="name">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter you Email"
          />
        </div>

        <div class="name">
          <input
            type="text"
            name="password"
            id="password"
            placeholder="Phone Number"
          />
        </div>
        <select class="form-select" aria-label="Default select example">
          <option selected>select your destination</option>
          <option value="1">Paris</option>
          <option value="2">Munich</option>
          <option value="3">Agra</option>
          <option value="4">Kuala Lumpur</option>
          <option value="5">Vienna</option>
        </select>
      </form>

      <input type="submit" value="Register" />
    </div>
  </div>
</div>
