<div class="main" id="top">
  <nav
    class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
    data-navbar-on-scroll="data-navbar-on-scroll"
  >
    <div class="container">
      <a class="navbar-brand" href="index.html"
        ><img
          class="d-inline-block"
          src="assets/img/gallery/logo.png"
          width="50"
          alt="logo"
        /><span class="fw-bold text-primary ms-2">voyage</span></a
      >
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
          <li class="nav-item px-2">
            <a
              class="nav-link fw-medium active"
              routerLink="/home"
              ><span
                class="nav-link-icon text-800 me-1 fas fa-map-marker-alt"
              ></span
              ><span class="nav-link-text">Home</span></a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/flights">
              <span class="nav-link-icon text-800 me-1 fas fa-plane"></span
              ><span class="nav-link-text">Flights</span></a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/dashboard"
              ><span class="nav-link-icon text-800 me-1 fas fa-bolt"></span
              ><span class="nav-link-text"> Dashboard</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
